* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;


    .popup-add {
        background-color: #fff;
        display: none;
        width: 450px;
        height: auto;
        padding: 20px 30px;
        border-radius: 20px;
        gap: 10px;


        .popup-add__img {
            width: 100px;
        }

        .popup_right_side {
            display: flex;
            justify-content: center;
            align-items: start;
            flex-direction: column;
            gap: 20px;

            .popup-add__text {
                font-size: 18px;
            }

            .popup-add__button {
                padding: 7px 9px;
                font-size: 15px;
                background-color: #04aaec;
                border: none;
                border-radius: 10px;
                color: #fff;
            }
        }

    }
}