* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    ul {
        padding: 10px 20px;
        width: 250px;
        border-radius: 15px;
        box-shadow: 5px 5px 10px #9a949a;
    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:20px;

        button {
            padding: 4px 6px;
            font-size: 16px;
            color: red;
            border: none;
            border-radius: 15px;

        }
    }
}